.main-container {
  display: flex;
}

.sidebar {
  width: 250px;  /* Ajusta el tamaño del Sidebar */
  position: fixed;  /* Fija el Sidebar */
  top: 0;
  bottom: 0;
  left: 0;
}

.content {
  margin-left: 250px;  /* Ajusta el margen izquierdo para dejar espacio al Sidebar */
  padding: 20px;
  flex-grow: 1;  /* Asegura que el contenido ocupe el resto del espacio */
  background-color: #fff;
  overflow-x: auto;
}
/* Tabla de productos */
.products-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.products-table th,
.products-table td {
  padding: 12px 16px; /* Mayor espacio para mejorar la legibilidad */
  border: 1px solid #e1e1e1;
  text-align: left; /* Mejor alineación para la legibilidad */
}

.products-table th {
  background-color: #f8f9fa;
  color: #333;
  font-weight: 600;
}

.products-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.products-table tbody tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

/* Columnas de acciones */
.actions-column {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.actions-column i {
  font-size: 18px;
  cursor: pointer;
  color: #6c757d;
  transition: color 0.3s ease;
}

.actions-column i:hover {
  color: #007bff;
}

/* Botón para agregar productos */
.add-product-btn {
  display: block;
  width: 200px;    
  margin: 20px auto; 
  padding: 8px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  gap: 10px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-product-btn i {
  font-size: 18px;
}

.add-product-btn:hover {
  background-color: #218838;
}

/* Paginación */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 6px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button.active,
.pagination button:hover {
  background-color: #218838;
  transform: scale(1.05); /* Efecto de escala para el hover */
}
