.main-container {
  display: flex;
}

.sidebar {
  width: 250px;  /* Ajusta el tamaño del Sidebar */
  position: fixed;  /* Fija el Sidebar */
  top: 0;
  bottom: 0;
  left: 0;
}

.content {
  margin-left: 250px;  /* Ajusta el margen izquierdo para dejar espacio al Sidebar */
  padding: 20px;
  flex-grow: 1;  /* Asegura que el contenido ocupe el resto del espacio */
  background-color: #fff;
  overflow-x: auto;
}

  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .user-table th {
    background-color: #f4f4f4;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
.add-admin-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-admin-btn:hover {
    background-color: #45a049;
  }
  